{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'basic/styles.css' %}"
    />

    <title>Django Templates</title>
  </head>
  <body>
    <img src="{% static 'basic/avatar.jpg' %}" alt="avatar" id="avatar" />
    <br />
    <button type="button" id="button">Show Image</button>

    <script src="{%static 'basic/index.js'%}"></script>
  </body>
</html>
